@model Blog.API.Models.User;
@{
    ViewData["Title"] = "User";
}
<div id="main"> 
    
    <div class="col-sm-5 text-center h3">
        @Model.Name
    </div>
    
    <div class="col-sm-2 text-center h3">
        <a href="/article/add">
            Add Article
        </a>
    </div>

    <div class="col-sm-2 text-center h3">
        <a href="/user/update">
            Change Password
        </a>
    </div>

    <div class="col-sm-2 text-center h3">
        <a href="/user/delete"> Delete User </a>
    </div>

    <div class="col-sm-1 text-center h3">
        <a href="/user/logout"> Logout </a>
    </div>

</div>
