@model Blog.API.Models.User;
@{
    ViewData["Title"] = "User";
}
<div id="main">

    <div class="col-sm-5 text-center h3">
        @Model.Name
    </div>

    <div class="col-sm-2 text-center h3">
        <form action="/article/add" method="get">
            <input type="submit" class="btn btn-primary" value="Add Article">
        </form>
    </div>

    <div class="col-sm-2 text-center h3">
        <form action="/user/update" method="get">
            <input type="submit" class="btn btn-primary" value="Change Password">
        </form>
    </div>

    <div class="col-sm-2 text-center h3">
        <form action="/user/delete" method="delete">
            <input type="submit" class="btn btn-primary" value="Delete User">
        </form>
    </div>

    <div class="col-sm-1 text-center h3">
        <form action="/user/logout" method="post">
            <input type="submit" class="btn btn-primary" value="Logout">
        </form>
    </div>

    <div class="col-sm-12 text-left h4">
        <p></p>
        <p></p>
    </div>

</div>
