@model Blog.API.Models.User;
@{
    ViewData["Title"] = "Update User";
}

<div class="normal-margin col-lg-12 text-center">
    <input class="normal-margin form-control" id="old-password" placeholder="Old Password" type="password" />
    <input class="normal-margin form-control" id="new-password" placeholder="New Password" type="password" />
    <input class="normal-margin btn btn-primary btn-lg" type="submit" id="changePassword" value="Change Password" /> 
</div>

<script>
    document.getElementById('changePassword').addEventListener('click', () => {
        let oldPassword = document.getElementById('old-password').value;
        let newPassword = document.getElementById('new-password').value;

        if (!oldPassword || !newPassword) {
            return alert('cannot be null');
        }

        var xhr = new XMLHttpRequest();
        xhr.open('PUT', '/user/update/' + @Model.Id);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = () => {
            if (xhr.status != '200') {
                return alert('something went wrong cannot update password, try again');
            }
            window.location.href = '/';
        };
        xhr.send(JSON.stringify({ Old: oldPassword, New: newPassword }));
    });
</script>
