@model Blog.API.Models.User;
@{
    ViewData["Title"] = "Update User";
}

@*<input class="normal-margin form-control" asp-for="Name" placeholder="Username" />
<span asp-validation-for="Name" class="text-danger"></span>

<div class="row col-md-12">
    <form action="/user/update/@Model.Id" method="put">
        <input class="normal-margin form-control" id="oldpassword" placeholder="Old Password" type="password" />
        <input class="normal-margin form-control" asp-for="Password" placeholder="New Password" type="password" />
        <input class="normal-margin btn btn-primary btn-lg" type="submit" value="Change Password" />
    </form>
</div>*@
<h2>UpdateUser</h2>

