@model Blog.API.Models.User;
@{
    ViewData["Title"] = "Update User";
}

<div class="normal-margin col-lg-12 text-center">
    <form>
        <input class="normal-margin form-control" id="old-password" placeholder="Old Password" type="password" />
        <input class="normal-margin form-control" id="new-password" placeholder="New Password" type="password" />
        <input class="normal-margin btn btn-primary btn-lg" type="submit" id="changePassword" value="Change Password" />
    </form>
</div>

<script>
    $(function(){
        $('form').on('submit', function() {
            let oldPass = $('#old-password').val();
            let newPass = $('#new-password').val();
            
            if (!oldPass || !newPass) {
                return alert('cannot be null');
            }


            /*var xhr = new XMLHttpRequest();            

            xhr.open('PUT', '/user/' + @Model.Id);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
            xhr.setRequestHeader('Access-Control-Allow-Origins', '*');
            
            xhr.onload = () => {
                alert('update ok ');
            };

            xhr.send(JSON.stringify({ oldPassword: oldPass, newPassword: newPass }));
*/

            $.ajax({
                url: '/user/update/' + @Model.Id,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ oldPassword: oldPass, newPassword: newPass }),
                success: function(data) {
                    alert('asdf');
                }
            });
            alert('asdf');
        });
    });
</script>
