@model BlogMvc.Models.UserViewModel
@{
    ViewData["Title"] = "User";
}

<h1>Hello @Model.User.Email</h1>

<form asp-action="Logout" asp-controller="User" method="POST">
    <button> Logout </button>
</form>

