@model BlogEntities.Comment
@{
    ViewData["Title"] = "Add Comment";
}
<div class="row">
    <div class="col-md-12">
        <h1>@Model.ArticleId</h1>
        @using(Html.BeginForm("Add", "Comment", new { id = Model.ArticleId }, FormMethod.Post, true, new { @class = "col-md-4 text-left" })) 
        {
            @Html.TextBoxFor(m => m.Content, new { placeholder = "Title", @class = "mt-2 form-control" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })

            <div class="text-center h2"> 
                <input class="mt-2 btn btn-outline-lg bg-black text-white" type="submit" value="Add Comment" />
            </div>
            <div class="text-center align-middle mb-2">
                @Html.ValidationMessage("error", new { @class = "text-danger" })
            </div>
        }  
    </div>
</div>