@model Blog.API.Models.User;
@{
    ViewData["Title"] = "Main Page";
}

<div class="row">

    @if(ViewBag.Message != null)
    {
        @if (ViewBag.Message.StartsWith("$"))
        {
            <div class="col-sm-12 normal-margin alert alert-success"> @ViewBag.Message.Trim('$') </div>
        }
        else
        {
            <div class="col-sm-12 normal-margin alert alert-danger"> @ViewBag.Message </div>
        }
    }

    <div class='col-md-6'>
        <h2 class="normal-margin text-md-center">Login</h2>
        <input class="normal-margin form-control" id="username" placeholder="Username" />
        <input class="normal-margin form-control" id="password" placeholder="Password" type="password" />
        <div class="text-center h2">
            <input class="normal-margin btn btn-primary btn-lg" id="loginForm" type="submit" value="Login" />
        </div>
    </div>
    <div class='col-md-6'>
        <h2 class="normal-margin text-md-center">Register</h2>
        <form action="/user/register" method="post">
            <input class="normal-margin form-control" asp-for="Name" placeholder="Username" />
            <input class="normal-margin form-control" asp-for="Password" placeholder="Password" type="password" />
            <input class="normal-margin form-control" asp-for="Email" placeholder="Email" type="email" />
            <div class="text-center h2">
                <input class="normal-margin btn btn-primary btn-lg" type="submit" value="Register" id="registerForm" />
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById('loginForm').addEventListener('click', () => {
        let name = document.getElementById('username').value;
        let password = document.getElementById('password').value;

        if (!name || !password)
            return alert('Something went wrong, pass/name is empty or null');

        fetch('/user/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: 'username=' + name + '&password=' + password
        }).then((response) => {
            if (response.status != '200')
                return alert('Something went wrong, status is not equal 200');
            response.json().then((text) => {
                document.cookie = 'access_token=' + text.access_token + ';';
                document.location.href = '/';
            });
        });
    });
</script>
