@page
@model Blog.API.Models.User;
@{}

<div class="row">
    <div class='col-md-6'>
        <h1 class="normal-margin text-md-center">Login</h1>
        <form action="/user/login" method="POST">
            <input class="normal-margin form-control" asp-for="Name" placeholder="Username" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input class="normal-margin form-control" asp-for="Password" placeholder="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input class="normal-margin btn btn-primary" type="submit" value="Login" />
        </form>
    </div>
    <div class='col-md-6'>
        <h1 class="normal-margin text-md-center">Register</h1>
        <form action="/user/register" method="POST">
            <input class="normal-margin form-control" asp-for="Name" placeholder="Username" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input class="normal-margin form-control" asp-for="Password" placeholder="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input class="normal-margin form-control" asp-for="Email" placeholder="Email" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input class="normal-margin btn btn-primary" type="submit" value="Register" />
        </form>
    </div>
</div>