@page
@model Blog.API.Models.User;
@{}

<div class="row">
    <div class='col-md-6'>
        <h1 class="normal-margin text-md-center">Login</h1>
        <input class="normal-margin form-control" id="user-login" placeholder="Username" />
        <input class="normal-margin form-control" id="password-login" placeholder="Password" type="password" />
        <input class="normal-margin btn btn-primary" id="loginForm" type="submit" value="Login" />
    </div>
    <div class='col-md-6'>
        <h1 class="normal-margin text-md-center">Register</h1>
        <form action="/user/register" method="POST">
            <input class="normal-margin form-control" asp-for="Name" placeholder="Username" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input class="normal-margin form-control" asp-for="Password" placeholder="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input class="normal-margin form-control" asp-for="Email" placeholder="Email" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input class="normal-margin btn btn-primary" type="submit" value="Register" />
        </form>
    </div>
</div>

<script>
    var loginForm = document.getElementById('loginForm');
    loginForm.addEventListener('click', function () {
        console.log('test');
        var login = document.getElementById('user-login').value;
        var password = document.getElementById('password-login').value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/user/login', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ Name: login, Password: password }));
        xhr.onload = () => {
            if (xhr.status == '404') {
                return alert('Something went wrong try again');
            }
            var token = JSON.parse(xhr.responseText).token;
            var id = JSON.parse(xhr.responseText).id;
            var authorizationReq = new XMLHttpRequest();
            authorizationReq.open('GET', '/user/' + id, true);
            authorizationReq.setRequestHeader('Authorization', 'Bearer ' + token);
            authorizationReq.send();
            window.location.href = '/user/' + id;
            console.log('test2' + token + ' ' + id);
        };
    });
</script>