@model BlogEntities.User; 

@{
    ViewData["Title"] = "Main";
}

<div class="row">
    <div class="col-md-6">
        <a asp-action="Login" asp-controller="User">Login</a>
    </div>
    <div class="col-md-6">
        <a asp-action="Register" asp-controller="User">Register</a>
    </div>
</div>