@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"  />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="row text-center h1 bg-black">
            <div class="col-md-12">
                <p class="p-3 text-white">Blog</p>            
            </div>
        </div>
        @if(httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {
            <div class="row bg-black">
                @using(Html.BeginForm("Index", "Home", FormMethod.Get,   new { @class = "col-md-3" })) {
                    <input class="m-2 btn btn-outline-light border-0" type="submit" value="Main Page" />
                }
                @using(Html.BeginForm("Add", "Article", FormMethod.Get,   new { @class = "col-md-3" })) {
                    <input class="m-2 btn btn-outline-light border-0" type="submit" value="Add Post" />
                }
                @using(Html.BeginForm("Update", "User", FormMethod.Get,   new { @class = "col-md-3" })) {
                    <input class="m-2 btn btn-outline-light border-0" type="submit" value="Edit Profile" />
                }
                @using(Html.BeginForm("Logout", "User", FormMethod.Post, new { @class = "col-md-3" })) {
                    <input class="m-2 btn btn-outline-light border-0" type="submit" value="Logout" />
                }
            </div>
        }
        @RenderBody()
        <footer class="row text-center bg-black">
            <div class="col-md-12">
                <a class="text-decoration-none text-white" href="https://github.com/jurczakk/Blog">Github</a>   
            </div>
        </footer>
    </div>
</body>
</html>